## Import dependencies

In [1]:
import pandas as pd

## Extract data from Youtube Video csv.

In [2]:
filepath_youtube = 'youtube_video_data.csv'
youtube_df = pd.read_csv(filepath_youtube)

## Transform data by changing column name and drop null values.

In [3]:
youtube_df = youtube_df.rename(columns={"channelName":"artist"})
youtube_df = youtube_df.dropna(how="any")
# youtube_df

In [4]:
# Getting list of columns name
youtube_df.columns

Index(['artist', 'channelUrl', 'date', 'details', 'dislikes', 'duration', 'id',
       'likes', 'numberOfSubscribers', 'text', 'title', 'url', 'viewCount'],
      dtype='object')

## Grab columns of interest and sort viewCount column in descending order.

In [5]:
youtube_df_useful = youtube_df[["artist","url","date","likes","dislikes",
                                "numberOfSubscribers","viewCount"]]
youtube_df_useful = youtube_df_useful.sort_values(["viewCount"], ascending=False)
youtube_df_useful

,artist,url,date,likes,dislikes,numberOfSubscribers,viewCount
119,Ed Sheeran,https://www.youtube.com/watch?v=JGwWNGJdvx8,2017-01-30T00:00:00+00:00,25000000,1300000,46600000,5158342444
78,Maroon 5,https://www.youtube.com/watch?v=09R8_2nJtjg,2015-01-14T00:00:00+00:00,12000000,541000,33000000,3374599190
73,OneRepublic,https://www.youtube.com/watch?v=hT_nvWreIhg,2013-05-31T00:00:00+00:00,12000000,411000,9060000,3174427742
106,Taylor Swift,https://www.youtube.com/watch?v=nfWlot6h_JM,2014-08-18T00:00:00+00:00,10000000,1000000,41200000,3009912863
148,Major Lazer Official,https://www.youtube.com/watch?v=YqeW9_5kURI,2015-03-23T00:00:00+00:00,13000000,565000,13900000,2961408831
...,...,...,...,...,...,...,...
23,Gloriae Templum,https://www.youtube.com/watch?v=aw2J-77cSWk,2021-01-21T00:00:00+00:00,180,1,54200,2562
133,Music Collection 2021,https://www.youtube.com/watch?v=it-UytEfrTk,Invalid date,23,0,147000,2034
25,KDMR Music,https://www.youtube.com/watch?v=XgGO2572WFU,Invalid date,47,0,15200,304
116,16 WAPT News Jackson,https://www.youtube.com/watch?v=IyeEFQbTV3o,2021-01-21T00:00:00+00:00,2,0,23700,60
152,"WKBW TV | Buffalo, NY",https://www.youtube.com/watch?v=tX-93uCRYlo,2021-01-19T00:00:00+00:00,0,0,51000,11

## Group by artist and sum the dataframe columns.
## Sort viewCount column in descending order.

In [6]:
clean_youtube_df = youtube_df_useful.groupby(["artist"])
clean_youtube_df = clean_youtube_df.sum()
clean_youtube_df = clean_youtube_df.sort_values(["viewCount"], ascending=False)
clean_youtube_df.to_csv('where_is_the_weekend.csv')

In [7]:
#check values
clean_youtube_df.head(50)

                           likes  dislikes  numberOfSubscribers   viewCount
artist
Ed Sheeran              39000000   1840000             93200000  7870380452
Maroon 5                30000000   1290000             66000000  6318163911
Taylor Swift            21200000   1638000            164800000  4549446267
Justin Bieber           26200000  11543000            181500000  4079494508
OneRepublic             12000000    411000              9060000  3174427742
Marshmello              31900000   1072000            153000000  2973749183
Major Lazer Official    13000000    565000             13900000  2961408831
Dua Lipa                13000000    605000             16600000  2333303405
Christina Perri         10000000    265000              5720000  1758319890
Post Malone             11400000    378000             41600000  1575998250
Lady Gaga                5700000    440000             19100000  1327429095
Katy Perry               5000000    243000             39600000  1285907473
Cardi B                 13900000   1735000             31800000  1285329794
iamOTHER                 4700000    250000              1800000  1091991394
Ariana Grande           24100000    814000            185600000  1088740342
Iggy Azalea              4800000    336000              7750000  1017186882
discovery plus Norge     7500000    772000              2010000   986156433
Bebe Rexha               4200000    244000              8250000   965261885
Scorpions                3300000    130000              2710000   821584565
Red Hot Chili Peppers    3100000    121000              5840000   783784262
Bon Jovi                 3100000    114000              5690000   755359500
Donald Glover           10000000    746000              5560000   751692795
Pharrell Williams        4500000    202000              3070000   743521135
Michael Jackson          4700000    260000             20100000   722017521
Disturbed                4000000    230000              3060000   673440188
Khalid                   2700000    103000              8170000   572511719
Lil Nas X                8700000    303000             22800000   463208215
The Weeknd               7100000    172000             44800000   414766020
Ava Max                  5030000    111000             12660000   396482476
Soothing Relaxation      2490000    179000             19980000   369322669
Big Hit Labels          11000000    306000             50300000   316273109
Lil Dicky                9900000    316000              7430000   294585040
Roddy Ricch              5400000    129000              5200000   291148274
Drake                    2800000     92000             23700000   224054798
MIKA                     1700000     48000              1740000   200081547
Queen Naija              1700000     65000              4840000   184113668
Blake Shelton            1216000     50000              5300000   183543222
Wintergatan              3400000     62000              2150000   168976606
DJ Khaled                3100000    149000             10600000   156253288
Jason Derulo             2201000     94000             29600000   152850866
Juice WRLD               1800000     33000              7750000   120898672
Billie Eilish            6500000    161000             75800000   119184378
DaBaby                   2100000     59000              7170000   112524216
Tekno Miles               213000     14000              1650000    78760844
Travis Scott              646000     10000             13500000    68680812
LARRAY                   2600000    115000              8140000    65813934
Flipp Dinero              410000     10000               414000    43313854
Official Saweetie         659000     31000              1960000    37216074
Meditation Relax Music    211000     15000              2320000    34131909
Lyrical Lemonade          471000     19000             16600000    30068399

## Extract data from the Chart2000 csv.

In [8]:
filepath_chart2000 = 'chart2000-song-2020-decade-0-3-0062.csv'
chart2000_df = pd.read_csv(filepath_chart2000)
chart2000_df

,decade,position,artist,song,indicativerevenue,us,uk,de,fr,ca,au
0,2020s,1,The Weeknd,Blinding Lights,37510.336493,1,1,1,1,1,1
1,2020s,2,Dua Lipa,Don't Start Now,23668.218900,2,3,10,12,3,2
2,2020s,3,Roddy Ricch,The Box,22136.450765,1,2,12,7,1,4
3,2020s,4,Post Malone,Circles,20267.825135,1,19,37,77,3,5
4,2020s,5,Harry Styles,Adore You,18182.966690,6,7,83,126,10,7
...,...,...,...,...,...,...,...,...,...,...,...
195,2020s,196,Bad Bunny,Vete,2497.555328,36,-,-,-,-,-
196,2020s,197,Jameson Rodgers,Some Girls,2496.423853,29,-,-,-,49,-
197,2020s,198,Kelly Clarkson,Underneath The Tree,2475.974530,12,15,14,-,9,-
198,2020s,199,Lil Uzi Vert,Futsal Shuffle 2020,2471.854931,5,91,-,-,8,-
199,2020s,200,Gunna & Young Thug,Dollaz On My Head,2434.179322,38,84,-,162,53,-

## Transform data by selecting the columns of interest.
## Rename column to revenue.

In [9]:
top_artist = chart2000_df[["artist","indicativerevenue"]]
top_artist = top_artist.rename(columns={"indicativerevenue":"revenue"})
top_artist

                 artist       revenue
0            The Weeknd  37510.336493
1              Dua Lipa  23668.218900
2           Roddy Ricch  22136.450765
3           Post Malone  20267.825135
4          Harry Styles  18182.966690
..                  ...           ...
195           Bad Bunny   2497.555328
196     Jameson Rodgers   2496.423853
197      Kelly Clarkson   2475.974530
198        Lil Uzi Vert   2471.854931
199  Gunna & Young Thug   2434.179322

[200 rows x 2 columns]

## Group by artist and sum the dataframe columns.
## Sort the revenue column in descending order.

In [10]:
clean_top_artist_df = top_artist.groupby(["artist"])
clean_top_artist_df = clean_top_artist_df.sum()
clean_top_artist_df = clean_top_artist_df.sort_values(["revenue"], ascending=False)
clean_top_artist_df.to_csv('artist_revenue.csv')
clean_top_artist_df

                         revenue
artist
The Weeknd          52032.639312
Dua Lipa            39827.024005
Harry Styles        33635.908394
Lewis Capaldi       31878.429494
Billie Eilish       26537.254173
...                          ...
Demi Lovato          2517.435332
Travis Denning       2517.068977
Jameson Rodgers      2496.423853
Kelly Clarkson       2475.974530
Gunna & Young Thug   2434.179322

[174 rows x 1 columns]

## Merge both dataframe with artist column.

In [11]:
merge_df = pd.merge(clean_top_artist_df, clean_youtube_df, on='artist', how="inner")
merge_df

,revenue,likes,dislikes,numberOfSubscribers,viewCount
artist,,,,,
The Weeknd,52032.639312,7100000,172000,44800000,414766020
Dua Lipa,39827.024005,13000000,605000,16600000,2333303405
Billie Eilish,26537.254173,6500000,161000,75800000,119184378
Roddy Ricch,22136.450765,5400000,129000,5200000,291148274
Post Malone,20267.825135,11400000,378000,41600000,1575998250
Maroon 5,14394.083924,30000000,1290000,66000000,6318163911
Drake,10497.953080,2800000,92000,23700000,224054798
Ariana Grande,9819.459861,24100000,814000,185600000,1088740342
Ava Max,9371.065786,5030000,111000,12660000,396482476
Juice WRLD,8218.820151,1800000,33000,7750000,120898672
Justin Bieber,6493.417339,26200000,11543000,181500000,4079494508
DaBaby,6169.623275,2100000,59000,7170000,112524216
Jason Derulo,3823.209326,2201000,94000,29600000,152850866
Taylor Swift,3628.276871,21200000,1638000,164800000,4549446267

## Add and calculate the revenue per view.
## Sort the data by revenue per view.

In [12]:
revenue_per_view = merge_df["revenue"]/merge_df["viewCount"]
merge_df["revenue_per_view"] = revenue_per_view
merge_df.sort_values(["revenue_per_view"], ascending=False)

,revenue,likes,dislikes,numberOfSubscribers,viewCount,revenue_per_view
artist,,,,,,
Billie Eilish,26537.254173,6500000,161000,75800000,119184378,2.226572e-04
The Weeknd,52032.639312,7100000,172000,44800000,414766020,1.254506e-04
Roddy Ricch,22136.450765,5400000,129000,5200000,291148274,7.603154e-05
Juice WRLD,8218.820151,1800000,33000,7750000,120898672,6.798106e-05
DaBaby,6169.623275,2100000,59000,7170000,112524216,5.482929e-05
Drake,10497.953080,2800000,92000,23700000,224054798,4.685440e-05
Jason Derulo,3823.209326,2201000,94000,29600000,152850866,2.501268e-05
Ava Max,9371.065786,5030000,111000,12660000,396482476,2.363551e-05
Dua Lipa,39827.024005,13000000,605000,16600000,2333303405,1.706894e-05
Post Malone,20267.825135,11400000,378000,41600000,1575998250,1.286031e-05
Ariana Grande,9819.459861,24100000,814000,185600000,1088740342,9.019102e-06
Maroon 5,14394.083924,30000000,1290000,66000000,6318163911,2.278207e-06
Justin Bieber,6493.417339,26200000,11543000,181500000,4079494508,1.591721e-06
Taylor Swift,3628.276871,21200000,1638000,164800000,4549446267,7.975205e-07

## Voila!